<h1>編輯商品</h1>

<%= form_for(@product, :url => useradmin_product_path(@product)) do |f| %>
  <div class="field">
    分類位置：<p style="display: inline;" id="cate_path"></p><br>
    請選擇分類：
    <p style="display: inline;" id="cate_children">
      <% Productclass.roots.each do |root_cate| %>
        <%= link_to root_cate.name, selectclass_useradmin_products_path(root_cate), :remote => true %>
      <% end %>
    </p><br>

    <%= f.hidden_field :productclass_id %>
  </div>
	<div class="field">
    <%= f.label :name, "商品名稱" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :description %>
  </div>
  <div class="field">
    <%= f.label :price, "價格" %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :amount, "數量" %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <% @productregion = Array.new %>
    <% Productregion.all.each do |productregion| %>
    <% @productregion.push(productregion.region) %>
    <% end %>
    <%= f.label :region, "商品所在地區" %>：<%= f.select :region, options_for_select( @productregion, :selected => @product.region) %>
  </div>
  <div class="field">
    <%= f.label :shippingway, "運送方式" %><%= f.select :shippingway, options_for_select(["way1", "way2"], :selected => @product.shippingway) %>
  </div>
<% end %>

<div id="editorPanel"></div>

<hr />

<!--show the content of article -->
<section id="articleContent"></section>

<hr />

<div class="action" id="submit">
  <a href="#">儲存</a>
</div>

<%= link_to "取消編輯", useradmin_product_path(@product) %>

<script type="text/javascript">
$(document).ready(function(){
	editor.init({articleModel: "product", articleAttr: "description", photoModel:"productimg"});

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_product_<%= @product.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
	});
});
</script>