<p id="notice"><%= notice %></p>

<p>
  <b>商品名稱:</b>
  <%= @product.name %>
</p>

<p>
  <b>描述:</b><br>
  <%= simple_format(@product.description) %>
</p>

<p>
  <b>售價:</b>
  <%= @product.price %>
</p>

<p>
  <b>狀態:</b>
  <%= @product.status %>
</p>

<%= link_to "編輯庫存", useradmin_product_stocks_path(@product) %><br>
<%= link_to "編輯商品", edit_useradmin_product_path(@product) %> | <%= link_to "返回商品列表", useradmin_products_path %>