<p id="notice"><%= notice %></p>

<p>
  <b>商品名稱:</b>
  <%= @product.name %>
</p>

<p>
  <b>售價:</b>
  <%= @product.price %>
</p>

<p>
  <b>數量:</b>
  <%= @product.amount %>
</p>

<p>
  <b>狀態:</b>
  <%= @product.status %>
</p>

<input id="article_content" style="display:none;" type="text" value="<%= @product.description %>">
<div id="articleContent"></div>

<%= link_to "編輯商品", edit_useradmin_product_path(@product) %> | <%= link_to "返回商品列表", useradmin_products_path %>

<script type="text/javascript">
$(document).ready(function() {
  editor.output();
});
</script>