<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>

<div>
	<p>問題：</p>
	<%= simple_format(@productask.content) %>

		<% @productask.productaskres.each do |productaskre| %>
			<%= productaskre.created_at.strftime("%Y-%m-%d %H:%M") %><br>
			<%= simple_format(productaskre.content) %></p>
		<% end %>
</div>

<%= link_to "返回問與答列表", useradmin_myasks_path %>
