<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>

<input id="article_content" style="display:none;" type="text" value="<%= @product.description %>">
<div id="articleContent"></div>

<div>
	<p>問題：</p>
	<%= simple_format(@productask.content) %>

		<% @productask.productaskres.each do |productaskre| %>
			<%= productaskre.created_at.strftime("%Y-%m-%d %H:%M") %><br>
			<%= simple_format(productaskre.content) %></p>
		<% end %>
</div>

<%= link_to "返回我的提問列表", useradmin_myasks_path %>

<script type="text/javascript">
$(document).ready(function() {
  editor.output();
});
</script>
