<%= link_to "賣家資訊", user_path(params[:id]) %>
<%= link_to "商場", products_user_path(params[:id]) %>
<%= link_to "交易評價", deals_user_path(params[:id]) %>
<p><%= @user.name %>賣家資訊</p>

<p>關於我</p>
<input id="article_content" style="display:none;" type="text" value="<%= @user.aboutme %>">
<div id="articleContent"></div>

<script>
$(document).ready(function() {
  editor.output();
});

</script>