<% if @productclass %>
<p>分類名稱：<%= @productclass.name %></p>
<p>位置：root
	<% @productclass.ancestors.each do |parent| %>
		<span> > <%= parent.name %> </span>
	<% end %>
</p>
	<%= nested_li(@productclass.children) do |productclass| %>
		<%= productclass.name %>
	<% end %>

	<%= link_to "編輯分類", edit_admin_productclass_path(@productclass) %>｜<%= link_to "刪除分類", admin_productclass_path(@productclass), :method => "delete", :data => { :confirm => "確定刪除？" } %>｜<%= link_to "新增子分類", addsub_admin_productclass_path(@productclass) %>

<% else %>
<p>分類名稱：root</p>
	<%= nested_li(Productclass.roots) do |productclass| %>
		<%= productclass.name %>
	<% end %>
	<%= link_to "新增子分類", addsub_admin_productclass_path(0) %>
<% end %>