<% if @msgs.length > 0 %>

<table>
	<tr>
		<th>訊息日期</th>
		<th>分類</th>
		<th>訊息提示</th>
	</tr>
	<% @msgs.each do |msg| %>
	<tr>
		<td><%= DateTime.parse(msg["created_at"]).strftime("%Y-%m-%d %H:%M") %></td>
		<td><%= msg["class"] %></td>
		<td>
			<% case msg["type"] %>
			<% when "productask" %>
				<%= link_to ('商品 '+msg["productname"]+' 有新的發問。'),useradmin_productask_path(msg["id"]) %>

			<% when "deal" %>
				<%= link_to '新交易來自 '+msg["username"]+'，交易編號'+msg["ordernum"]+'。', useradmin_deal_path(msg["id"]) %>
				
			<% when "dealask" %>
				<%= link_to '交易編號 '+msg["ordernum"]+' ：有新留言。', useradmin_deal_path(msg["id"]) %>
				
			<% when "dealvalue" %>
				<%= link_to '交易編號 '+msg["ordernum"]+' ：有新評價。', dealvalues_useradmin_deal_path(msg["id"]) %>
				
			<% when "myask" %>
				<%= link_to '賣家回覆你對商品  '+msg["productname"]+'  的發問。', useradmin_myask_path(msg["id"]) %>
				
			<% when "deallog" %>
				<%= link_to '交易編號 '+msg["ordernum"]+' ：狀態變更。', useradmin_deal_path(msg["id"]) %>
				
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<% else %>

<p>沒有任何新訊息。</p>

<% end %>