<p>訂單日期：<%= @deal.created_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>訂單編號：<%= @deal.serialnum %></p>
<p>訂單狀態：<%= @deal.status %> <%= link_to "給予評價", dealvalues_useradmin_buyrecord_path(@deal) if (@deal.status == "deliver") %></p>
<p>評價：<%= @deal_value ? @deal_value.value : "沒有評價。" %></p>
<p>賣家：<%= @deal.seller_id %></p>
<p>電話：<%= @deal.sellertel %></p>

<p><%= @deal.productname %></p>
<p>數量：<%= @deal.amount %></p>

<hr>

<% if(@deal.dealasks.length > 0) %>
	<h4>歷史訊息</h4>
	<% @deal.dealasks.each do |dealask| %>
	<p><%= dealask.created_at.strftime("%Y-%m-%d %H:%M") %> <%= dealask.user_id %>: <%= dealask.content %></p>
	<% end %>
<% end %>

<%= form_for(@dealask, :url => createask_useradmin_buyrecord_path(@deal)) do |f| %>
<%= f.text_area :content, :rows => "5" %><br>
<%= f.submit "提問" %>
<% end %>