<p>確定購買？</p>

<p>商品名稱：<%= @product.name %>
</p>
<p>訂購數量：<%= params[:deal][:amount] %></p>

<form action="<%= product_path(@deal.product_id) %>" style="display:inline;" >
	<input type="submit" value="取消" />
</form>

<%= form_for(@deal, :url => new_deals_path, :html => { :style => "display:inline;" }) do |f| %>
<%= f.hidden_field :product_id %><%= f.hidden_field :amount %>
<%= f.submit "下一步" %>
<% end %>