<% if @products.length > 0 %>
<table>
	<tr>
		<th>上架日期</th>
		<th>上傳者</th>
		<th>商品</th>
		<th>名稱</th>
		<th>價格</th>
		<th>所在地</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.created_at.strftime("%Y-%m-%d") %></td>
		<td><%= product.username %></td>
		<td><%= product.cover ? image_tag(product.cover) : "無圖片" %></td>
		<td><%= link_to product.name, product_path(product) %></td>
		<td><%= product.price %></td>
		<td><%= product.region %></td>
	</tr>
	<% end %>
</table>
<% else %>

<p>沒有任何上架商品。</p>

<% end %>