<h3>庫存管理</h3>
<%= form_for(@stock, :url => useradmin_product_stocks_path(params[:product_id])) do |f| %>
<table>
	<tr>
		<td><%= @product.name %></td>
		<td><%= f.text_field :typename %></td>
		<td><%= f.submit "新增分類" %></td>
	</tr>
</table>
<% end %>

<%= form_for(@stock, :url => updateStocks_useradmin_product_stocks_path(params[:product_id]), :method => :post ) do |f| %>
<table>
	<tr>
		<th>分類</th>
		<th>數量</th>
		<th>刪除</th>
	</tr>

	<% @stocks.each do |stock| %>
	<tr>
		<td><%= stock.typename == "default" ? "未指定" : stock.typename %></td>
		<td><input type="number" name="stock[<%=stock.id%>]" value="<%=stock.amount%>" /></td>
		<td>
			<%= link_to "刪除", useradmin_product_stock_path(stock.product_id, stock.id), :method => :delete, :data => { :confirm => "確定刪除分類?"} %>
		</td>
	</tr>
	<% end %>
</table>

<div class="stock-send">
	<a href="#" id="submit">更新庫存</a> <a href="<%= useradmin_product_path(params[:product_id]) %>">返回商品頁</a>
</div>
<% end %>

<script type="text/javascript">
$("#submit").click(function(event){
	event.preventDefault();
	$(this).parents("form:first").submit();
});
</script>