<% if @users.length > 0 %>
<%= form_for(@user, :url => search_admin_users_path) do |f| %>
<%= f.text_field :name %> <%= f.submit "搜尋使用者" %>
<% end %>
<p>會員權限：<%= link_to "正常", url_for( :restrict => false ) %>｜<%= link_to "停權", url_for( :restrict => true ) %></p>
<table>
	<tr>
		<th>加入會員日期</th>
		<th>姓名</th>
		<th>email</th>
		<th>權限狀態</th>
		<th>最近登入時間</th>
		<th>最近登入ip</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.created_at.strftime("%Y-%m-%d") %></td>
		<td><%= link_to user.name, admin_user_path(user.name) %></td>
		<td><%= user.email %></td>
		<td><%= user.status || "正常" %></td>
		<td><%= user.current_sign_in_at ? user.current_sign_in_at.strftime("%Y-%m-%d %H:%M") : "沒有登入記錄" %></td>
		<td><%= user.current_sign_in_ip %></td>
	</tr>
	<% end %>
</table>

<% else %>

<p>沒有任何會員。</p>

<% end %>

<script type="text/javascript">
if("<%= alert %>"){
	alert("<%= alert %>");
}
</script>