<% if @product %>
<p><%= @product.name %></p>
<p>
	賣家資訊：<%= link_to @product.username, user_path(@product.username) %>
</p>
<p>
  價格：$ <%= @product.price %><br>
  物品所在地:<%= @product.region %><br>
  運送方式:<%= @product.shippingway %><br>

  <p>庫存 <%= @product.amount %></p>
  <%= form_for(@deal, :url => check_deals_path) do |f| %>

  訂購數量：<br/>
  <%= f.hidden_field :product_id, :value => params[:id] %>
  <%= f.text_field :amount %>
  <%= f.submit "購買" %>
  <% end %>
</p>
<input id="article_content" style="display:none;" type="text" value="<%= @product.description %>">
<div id="articleContent"></div>
<div>
	<p>問與答歷史紀錄</p>
	<% if @product.productasks.length > 0 %>
	<% @product.productasks.each do |productask| %>
	<p>提問：<br><%= productask.created_at.strftime("%Y-%m-%d %H:%M") %><%= simple_format(productask.content) %></p>

		<% productask.productaskres.each do |productaskre| %>
		<p>回覆：<br><%= productaskre.created_at.strftime("%Y-%m-%d %H:%M") %><%= simple_format(productaskre.content) %></p>
		<% end %>

	<% end %>
	<% end %>

	<% if current_user %>
	<%= form_for(@productask, :url => ask_product_path(params[:id])) do |f| %>
	<p>提問</p>
	<%= f.text_area :content, :rows => "5" %><br>
	<%= f.submit "提問" %>
	<% end %>
	
	<% else %>
	<p>請登入會員留言</p>
	<% end %>
</div>
<script type="text/javascript">
if("<%= alert %>"){
  alert("<%= alert %>");
}
$(document).ready(function() {
  editor.output();
});
</script>
<% else %>
<p>找不到該商品。</p>
<% end %>