<p><%= @product.name %></p>
<p>
	賣家資訊：<%= link_to @product.user_id, user_path(@product.user_id) %>
</p>
<p>
  價格：$ <%= @product.price %><br>
  訂購數量：<input type="text"/>
</p>

<p>
	<%= simple_format(@product.description) %>
</p>

<div>
	<p>問與答歷史紀錄</p>
	<% if current_user %>
	<p>留言</p>
	<% else %>
	<p>請登入會員留言</p>
	<% end %>
</div>
<%= link_to 'Back', products_path %>