<p><%= @product.name %></p>
<p>
	賣家資訊：<%= link_to @product.user_id, user_path(@product.user_id) %>
</p>
<p>
  價格：$ <%= @product.price %><br>

  <% if !@product.hasType && @product.hasStock %>
  <input type="hidden" value="<%= @product.stocks.first.id %>" name="orderitem[stock_id]">
  	<% if @product.stocks.first.amount && @product.stocks.first.amount >0 %>
  		<p>庫存 <%= @product.stocks.first.amount %></p>
  	<% end %>
  	<% elsif !@product.hasStock %>
  		<p>本商品目前無庫存。</p>
  	<% end %>

  	<% if @product.hasStock %>
  		訂購數量：<br/>
  		<% if @product.hasType %>
  			<select id="productType" name="orderitem[stock_id]">
  				<% @product.stocks.each do |stock| %>
  				<% if !stock.amount || stock.amount > 0 %>
  				<option value="<%= stock.id %>"><%= stock.typename %><%= (": 庫存"+stock.amount.to_s+"個。") if stock.amount %></option>
  				<% end %>
  				<% end %>
            </select><br>
        <% end %>
    <% end %>
    <input type="text"/>
</p>

<p>
	<%= simple_format(@product.description) %>
</p>

<div>
	<p>問與答歷史紀錄</p>
	<% if @product.productasks.length > 0 %>
	<% @product.productasks.each do |productask| %>
	<p>提問：<br><%= simple_format(productask.content) %></p>

		<% productask.productaskres.each do |productaskre| %>
		<p>回覆：<br><%= simple_format(productaskre.content) %></p>
		<% end %>

	<% end %>
	<% end %>

	<% if current_user %>
	<%= form_for(@productask, :url => ask_product_path(params[:id])) do |f| %>
	<p>提問</p>
	<%= f.text_area :content, :rows => "5" %><br>
	<%= f.submit "提問" %>
	<% end %>
	
	<% else %>
	<p>請登入會員留言</p>
	<% end %>
</div>
<%= link_to 'Back', products_path %>