<!DOCTYPE html>
<html>
<head>
  <title>Auction</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <link rel="stylesheet" type="text/css" href="/peditor/css/peditor.css">
  <script src="/peditor/js/editor.js"></script>
  <script src="/peditor/js/editor_p.js"></script>
  <script src="/peditor/js/editor_list.js"></script>
  <script src="/peditor/js/editor_video.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<p><%= link_to "首頁", root_path %>｜
	<% if current_user %>
	<%= link_to "會員專區", useradmin_root_path %>｜<%= link_to "登出", destroy_user_session_path, :method => :delete %>
	<% else %>
	<%= link_to "會員登入", new_user_session_path %>	
	<% end %>
	</p>
</div>
<div>
	產品搜尋
</div>
<div>
	產品分類
</div>
<%= yield %>

</body>
</html>
