<!DOCTYPE html>
<html>
<head>
  <title>useradmin</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<p><%= link_to "回首頁", root_path %>｜<%= link_to "登出", destroy_user_session_path, :method => :delete %></p>
	<p>賣東西：<%= link_to "商品管理", useradmin_products_path %>｜<%= link_to "商品問與答", useradmin_productasks_path %>｜<%= link_to "交易管理", useradmin_orders_path %>｜<%= link_to "關於我", aboutme_useradmin_users_path %>｜<%= link_to "黑名單", useradmin_blacklists_path %></p>
	<p>買東西：<%= link_to "商品提問記錄", useradmin_myasks_path %>｜<%= link_to "交易記錄", useradmin_buyrecords_path %></p>
</div>
<%= yield %>

</body>
</html>
